{% extends 'header.html' %}
{% block title %}
    <title>Buy_shop an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Home :: w3layouts</title>

{% endblock title %}
{% block content %}
<div class="single_top">
	 <div class="container"> 
	    <div class="register">
			  <div class="col-md-6 login-right">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				<form action="{% url 'login' %}" method="post">{% csrf_token %}
				  <div>
                      <p style="color:red;">{{ error }}</p>
					<span>Email Address<label>*</label></span>
					<input type="text" name="username">
				  </div>
				  <div>
					<span>Password<label>*</label></span>
					<input type="text" name="password">
				  </div>
				  <a class="forgot" href="#">Forgot Your Password?</a>
				  <input type="submit" value="Login">
			    </form>
			   </div>
			    <div class="col-md-6 login-left">
			  	 <h3>NEW CUSTOMERS</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" href="/register">Create an Account</a>
			   </div>	
			   <div class="clearfix"> </div>
		</div>
     </div>
</div>
{% endblock content %}
